.legal-notice{
    height: 130px;
    background-image: url("/myschoolclonehtml/images/bottom_bg.png");
}

.legal-notice-content{
    padding-top: 30px;
}

.legal-notice p{
    text-align: center;
    font-size: 13px;
    color: white;
    line-height: 20.8px;
}

.legal-notice span{
    color: #2e6c0d;
}

.span-one{
    margin-right: 8px;
}