.header-container{
}

.top-header{
    background-image: url("./images/bgheader.png");
    height: 80px;

}

.top-header-img{
    margin-top: 35px;
    margin-left: 95px;
}

.low-header{
    background-image: url("./images/lh_bg.png") ;
    height: 20px;
    margin-bottom: 25px;
}



